@tailwind base;
@tailwind components;
@tailwind utilities;

code {
    @apply px-1 py-0.5 rounded bg-slate-300 text-black;
}

code::before,
code::after {
    content: none !important;
}

ul {
    @apply ml-0;
}

ul ul {
    @apply ml-4;
}

ul ul ul {
    @apply ml-4;
}

li::before {
    width: 1rem;
    position: relative;
    left: -0.1rem;
    top: -0.15rem;
    content: '▪';
    font-size: 0.75rem;
    line-height: 0em;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

ul ul li::before {
    width: 1rem;
    left: 0.1rem;
    top: -0.1rem;
    font-size: 1rem;
    content: '-';
}

ul ul ul li::before {
    width: 1rem;
    content: 'ㄴ';
    left: -0.1rem;
    top: -0.15rem;
    font-size: 0.75rem;
    font-weight: bold;
}

blockquote {
    @apply border-l-4 border-blue-400 dark:border-green-600 bg-blue-100 dark:bg-gray-600 p-2 italic;
}

.my-width {
    @apply w-11/12 md:w-10/12 lg:w-8/12 xl:w-6/12;
}

.my-border {
    @apply border-black dark:border-white;
}
